<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
ENV_FILE=app/env.json
#prepare environment
sed -e &quot;s,{{PROD_CHECKOUT_ENCRYPTION_PASS}},$PROD_CHECKOUT_ENCRYPTION_PASS,&quot; \
-e  &quot;s,{{NODE_BACKEND_USER}},$NODE_BACKEND_USER,&quot; \
-e  &quot;s,{{PROD_SALT_HASH_INVITE}},$PROD_SALT_HASH_INVITE,&quot; \
-e  &quot;s,{{PROD_VISAGE_ES_USER_NAME}},$PROD_VISAGE_ES_USER_NAME,&quot; \
-e  &quot;s,{{PROD_VISAGE_ES_USER_PWD}},$PROD_VISAGE_ES_USER_PWD,&quot; \
-e  &quot;s,{{FULL_CONTACT_API_KEY}},$FULL_CONTACT_API_KEY,&quot; \
-e  &quot;s,{{PROD_SENDY_API_KEY}},$PROD_SENDY_API_KEY,&quot; \
-e  &quot;s,{{PAYONEER_USERNAME}},$PAYONEER_USERNAME,&quot; \
-e  &quot;s,{{PAYONEER_PASSWORD}},$PAYONEER_PASSWORD,&quot; \
-e  &quot;s,{{PAYONEER_PARTNERID}},$PAYONEER_PARTNERID,&quot; \
-e  &quot;s,{{PROD_REDIS_PASSWORD}},$PROD_REDIS_PASSWORD,&quot; \
-e  &quot;s,{{INTERCOM_ACCESS_TOKEN}},$INTERCOM_ACCESS_TOKEN,&quot; \
-e  &quot;s,{{EMAIL_VERIFIER_API_KEY}},$EMAIL_VERIFIER_API_KEY,&quot; \
-e  &quot;s,{{SLACK_WEBHOOK_COMMITMENT}},$SLACK_WEBHOOK_COMMITMENT,&quot; \
-e  &quot;s,{{SLACK_WEBHOOK_FEEDBACK}},$SLACK_WEBHOOK_FEEDBACK,&quot; \
-e  &quot;s,{{SLACK_WEBHOOK_JOBACTIONS}},$SLACK_WEBHOOK_JOBACTIONS,&quot; \
-e  &quot;s,{{SLACK_WEBHOOK_NEW_CUSTOMER}},$SLACK_WEBHOOK_NEW_CUSTOMER,&quot; \
-e  &quot;s,{{SLACK_WEBHOOK_NEW_USER}},$SLACK_WEBHOOK_NEW_USER,&quot; \
-e  &quot;s,{{JWT_CLIENT_ID}},$JWT_CLIENT_ID,&quot; \
-e  &quot;s,{{JWT_SECRET}},$JWT_SECRET,&quot; \
-e  &quot;s,{{FO_HOST}},$PROD_FO_HOST,&quot; \
-e  &quot;s,{{BO_HOST}},$PROD_BO_HOST,&quot; -i.bak ${ENV_FILE}</command>
    </hudson.tasks.Shell>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.3.2">
      <server plugin="docker-commons@1.8"/>
      <registry plugin="docker-commons@1.8"/>
      <repoName>dalekurt/api</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>$VERSION_NUMBER</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
      <buildAdditionalArgs></buildAdditionalArgs>
      <forceTag>false</forceTag>
    </com.cloudbees.dockerpublish.DockerBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.1.3">
      <info>
        <scriptContent>#!/bin/bash
echo  &quot;VERSION_NUMBER=&quot;$(cat package.json | grep version | awk &apos;{print $2}&apos; | sed -e &apos;s/&quot;//g&apos; -e &quot;s/&apos;//g&quot; -e &apos;s/,//g&apos; ) &gt; version.properties</scriptContent>
        <secureGroovyScript plugin="script-security@1.34">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>