<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
CLUSTER_NAME=visage-api-cluster-staging
REGION=us-west-2
COMPOSE_FILE=&quot;docker-compose.staging.yml&quot;
MONGO_SERVICE_NAME=visage-mongo-staging-service
MONGO_TASK_NAME=mongo-deploy-staging
KEY_FILE=/var/lib/jenkins/cluster-b-key.pem
BACKUP_NAME=FIXTURES_STAGING

/usr/local/bin/ecs-cli configure --region $REGION --cluster $CLUSTER_NAME

cd mongo

FULL_MONGO=$(/usr/local/bin/ecs-cli compose --file ${COMPOSE_FILE} --project-name $MONGO_TASK_NAME ps | grep &quot;mongo-visage&quot; | grep &quot;RUNNING&quot; | awk &apos;{print $3}&apos; | sed &apos;s/-&gt;\|\/\|:/ /g&apos;)
HOST_MONGO=$(echo $FULL_MONGO | awk &apos;{print $1}&apos;)
PORT_MONGO=$(echo $FULL_MONGO | awk &apos;{print $2}&apos;)

UNCOMPRESS=&quot;tar -xvf /home/ec2-user/${BACKUP_NAME}.tar -C /home/ec2-user/&quot;
MONGO_RESTORE=&quot;mongorestore --db visage --archive&quot;

#Do the back up
DEST=&quot;ec2-user@&quot;$HOST_MONGO
SSH_ARGS=&quot;-i $KEY_FILE -o StrictHostKeyChecking=no &quot;
echo &quot;scp $SSH_ARGS ../fixtures/$BACKUP_NAME.tar $DEST:/home/ec2-user/$BACKUP_NAME.tar&quot;
scp $SSH_ARGS ../fixtures/$BACKUP_NAME.tar $DEST:/home/ec2-user/$BACKUP_NAME.tar

CONTAINER_ID=$(ssh $SSH_ARGS$DEST -t &quot;sudo bash -c \&quot;docker ps | grep ${MONGO_TASK_NAME} | grep mongo-visage | cut -d&apos; &apos; -f1 \&quot;&quot;)
ls ../fixtures/
ssh $SSH_ARGS$DEST -t sudo &quot;bash -c \&quot;${UNCOMPRESS} &amp;&amp; docker exec -i $CONTAINER_ID $MONGO_RESTORE &lt; /home/ec2-user/${BACKUP_NAME} \&quot; &quot;


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>